<div
  class="px-2 py-2 rounded cursor-pointer hover:bg-neutral-content border overflow-scroll"
  [ngClass]="{
  'border-transparent': !selected,
  'border-neutral-focus': selected,
}"
>
  <div class="flex flex-row justify-between">
    <h6 [routerLink]="['/tasks', task.id]" class="font-medium">
      {{ task.title }}
    </h6>
    <app-button
      icon="delete"
      type="destructive"
      label="Delete"
      (click)="$event.stopPropagation(); delete.emit(task)"
    ></app-button>
  </div>

  <p
    class="text-sm text-neutral overflow-hidden whitespace-nowrap text-ellipsis"
  >
    {{ task.content }}
  </p>
</div>
