@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button[mat-icon-button].small {
  --button-size: 24px;
  width: var(--button-size) !important;
  height: var(--button-size) !important;
  padding: 0px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  & > *[role="img"] {
    width: calc(var(--button-size) * 2 / 3);
    height: calc(var(--button-size) * 2 / 3);
    font-size: calc(var(--button-size) * 2 / 3);

    svg {
      width: calc(var(--button-size) * 2 / 3);
      height: calc(var(--button-size) * 2 / 3);
    }
  }

  .mat-mdc-button-touch-target {
    width: var(--button-size) !important;
    height: var(--button-size) !important;
  }
}
