<ng-container *ngIf="task || !error; else loading">
  <header>
    <h1
      #taskTitle
      contenteditable
      [textContent]="task?.title"
      (input)="onTitleChange(taskTitle.textContent ?? '')"
    ></h1>
    <button
      class="small"
      mat-icon-button
      aria-label="Close task details"
      (click)="close.emit()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <textarea
    #taskContent
    [value]="task?.content"
    (input)="onContentChange(taskContent.value)"
    rows="20"
  ></textarea>
</ng-container>

<ng-template #loading>
  <div class="loading-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
