:host {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 1rem 0;
}

section {
  max-width: 100%;
  height: 100%;
  flex: 1;
}
section.reduced {
  max-width: 33%;
}

section h1 {
  padding: 0 1rem;
}

article {
  flex: 0;
}
article.visible {
  flex: 2;
  padding: 0 1rem;
}
